{% extends 'main.html' %}

{% block content %}

<div class="players-all-container">

    <div>
        <h3>Players List</h3>
        <ul>
            {% for player in players %}
            <li>
                <a href="{% url 'player_stats' player.slug %}">
                    {{ player.name }} </a> - <a>{{ player.team.name }}
                </a>
            </li>
            <hr>
            {% empty %}
            <li>No players found.</li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}